// app global css

@media (min-width: 1024px) {
  .block-narrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .block-narrow .row.wide {
      width: 720px;
  }

  .block-narrow .row.wide .col {
      width: 720px;
      display: initial;
  }
}
